@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-color-primary-50: #f2ffce;
  --ui-color-primary-100: #e5ff89;
  --ui-color-primary-200: #d7fa00;
  --ui-color-primary-300: #cdee00;
  --ui-color-primary-400: #c5e500;
  --ui-color-primary-500: #a2bc00;
  --ui-color-primary-600: #7d9200;
  --ui-color-primary-700: #5c6d00;
  --ui-color-primary-800: #3e4900;
  --ui-color-primary-900: #202700;
  --ui-color-primary-950: #131800;

  --ui-color-secondary-50: #faf2f2;
  --ui-color-secondary-100: #f5e4e6;
  --ui-color-secondary-200: #eac6c9;
  --ui-color-secondary-300: #e2abaf;
  --ui-color-secondary-400: #db8e95;
  --ui-color-secondary-500: #d56b77;
  --ui-color-secondary-600: #c35260;
  --ui-color-secondary-700: #a44350;
  --ui-color-secondary-800: #863640;
  --ui-color-secondary-900: #66272f;
  --ui-color-secondary-950: #3d1419;

  --ui-color-info-50: #ebebeb;
  --ui-color-info-100: #dadada;
  --ui-color-info-200: #b3b3b3;
  --ui-color-info-300: #919191;
  --ui-color-info-400: #7c7c7c;
  --ui-color-info-500: #666666;
  --ui-color-info-600: #505050;
  --ui-color-info-700: #3e3e3e;
  --ui-color-info-800: #2a2a2a;
  --ui-color-info-900: #191919;
  --ui-color-info-950: #0e0e0e;

  --ui-color-neutral-50: #eef4f9;
  --ui-color-neutral-100: #deeaf4;
  --ui-color-neutral-200: #bbd5e9;
  --ui-color-neutral-300: #96c1de;
  --ui-color-neutral-400: #7dacc9;
  --ui-color-neutral-500: #6d96b0;
  --ui-color-neutral-600: #5b7e94;
  --ui-color-neutral-700: #4c697c;
  --ui-color-neutral-800: #3d5666;
  --ui-color-neutral-900: #1f2e38;
  --ui-color-neutral-950: #111b21;
}

.dark {
  --ui-color-primary-50: #fffe3c;
  --ui-color-primary-100: #f7f500;
  --ui-color-primary-200: #e6e500;
  --ui-color-primary-300: #c5c400;
  --ui-color-primary-400: #a6a600;
  --ui-color-primary-500: #898800;
  --ui-color-primary-600: #6c6c00;
  --ui-color-primary-700: #515000;
  --ui-color-primary-800: #373700;
  --ui-color-primary-900: #1f1f00;
  --ui-color-primary-950: #141400;

  --ui-color-secondary-50: #f7f3f3;
  --ui-color-secondary-100: #ece3e3;
  --ui-color-secondary-200: #ddcbca;
  --ui-color-secondary-300: #cdafae;
  --ui-color-secondary-400: #c09695;
  --ui-color-secondary-500: #b57978;
  --ui-color-secondary-600: #9c6361;
  --ui-color-secondary-700: #825150;
  --ui-color-secondary-800: #663f3e;
  --ui-color-secondary-900: #392121;
  --ui-color-secondary-950: #241313;

  --ui-color-info-50: #f6f6f6;
  --ui-color-info-100: #eeeeee;
  --ui-color-info-200: #dfdfdf;
  --ui-color-info-300: #cfcfcf;
  --ui-color-info-400: #bebebe;
  --ui-color-info-500: #b0b0b0;
  --ui-color-info-600: #a0a0a0;
  --ui-color-info-700: #919191;
  --ui-color-info-800: #5e5e5e;
  --ui-color-info-900: #303030;
  --ui-color-info-950: #1b1b1b;

  --ui-color-neutral-50: #e4effd;
  --ui-color-neutral-100: #c9dffa;
  --ui-color-neutral-200: #8fc3f6;
  --ui-color-neutral-300: #44a5ea;
  --ui-color-neutral-400: #3687c1;
  --ui-color-neutral-500: #2b6fa0;
  --ui-color-neutral-600: #215981;
  --ui-color-neutral-700: #174363;
  --ui-color-neutral-800: #0e2e46;
  --ui-color-neutral-900: #061b2b;
  --ui-color-neutral-950: #020f1b;
}

@theme default {
  --font-sans: Roboto, "sans-serif";
}

html {
  font-size: 20px; /* Scale the app */
}

body { overflow-x: hidden; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}